In [6]:
import pandas as pd
import numpy as np

In [7]:
accelerometer_data = pd.read_csv("./George_Vardakas_Accelerometer.csv")
gyroscope_data = pd.read_csv("./George_Vardakas_Gyroscope.csv")
heartrate_data = pd.read_csv("./George_Vardakas_HeartRate.csv")
activities = pd.read_csv("./activities.csv")

In [8]:
accelerometer_data["activityid"].value_counts()

104    18600
101    16200
102    14400
115    12000
107     8400
103     5400
106     4200
105     2400
Name: activityid, dtype: int64

In [9]:
activities

    ACTIVITY_ID                 NAME
0           101              jogging
1           102              walking
2           103             standing
3           104              sitting
4           105               stairs
5           106       brushing teeth
6           107               eating
7           108  eating with fingers
8           109    drinking from cup
9           110              writing
10          111       lifting weight
11          112      folding clothes
12          113          having bath
13          114       washing plates
14          115             lying on

In [10]:
chosen_activities = [102, 103, 104, 105, 106, 107, 115]
def create_df_accel_gyro(accelerometer_data, gyroscope_data, chosen_activities):
    accelerometer_data = accelerometer_data.loc[accelerometer_data["activityid"].isin(chosen_activities)]
    gyroscope_data = gyroscope_data.loc[gyroscope_data["activityid"].isin(chosen_activities)]
    accelerometer_data.reset_index(inplace=True)
    gyroscope_data.reset_index(inplace=True)
    df_accel_gyro = pd.DataFrame(accelerometer_data[["time", "sensordatax", "sensordatay", "sensordataz"]])
    df_accel_gyro.rename(columns={"time":"TIMESTAMP","sensordatax": "ACCEL_X", "sensordatay" : "ACCEL_Y", "sensordataz" : "ACCEL_Z"}, inplace=True)
    df_accel_gyro["GYRO_X"] = gyroscope_data["sensordatax"]
    df_accel_gyro["GYRO_Y"] = gyroscope_data["sensordatay"]
    df_accel_gyro["GYRO_Z"] = gyroscope_data["sensordataz"]
    df_accel_gyro["ACTIVITY_ID"] = gyroscope_data["activityid"]
    return df_accel_gyro

In [11]:
df_accel_gyro = create_df_accel_gyro(accelerometer_data, gyroscope_data, chosen_activities)

In [12]:
df_accel_gyro.to_csv("./accel_gyro.csv", index=False)

,TIMESTAMP,ACCEL_X,ACCEL_Y,ACCEL_Z,GYRO_X,GYRO_Y,GYRO_Z,ACTIVITY_ID
0,2020-12-22 14:34:27.313000000,-1.224671,-1.425790,9.939831,-0.071375,0.041546,-0.052199,102
1,2020-12-22 14:34:27.413000000,-1.189954,-1.409030,9.937437,-0.042611,-0.007457,-0.086288,102
2,2020-12-22 14:34:27.513000000,-1.356357,-1.251008,9.604632,-0.068178,-0.005326,-0.080962,102
3,2020-12-22 14:34:27.613000000,-1.040312,-0.345972,9.513650,-0.050069,0.026632,-0.011718,102
4,2020-12-22 14:34:27.713000000,-1.016369,0.737436,9.024021,-0.256736,-0.025567,-0.162990,102
...,...,...,...,...,...,...,...,...
65395,2021-01-03 23:13:44.950000000,3.118543,0.515965,8.712765,0.027698,-0.011718,-0.034089,115
65396,2021-01-03 23:13:45.050000000,2.798906,0.277736,9.466962,0.027698,-0.011718,-0.034089,115
65397,2021-01-03 23:13:45.150000000,2.588210,0.140064,9.680052,0.027698,-0.011718,-0.034089,115
65398,2021-01-03 23:13:45.250000000,2.667222,0.475263,9.320911,0.027698,-0.011718,-0.034089,115
65399,2021-01-03 23:13:45.350000000,2.761795,-0.305269,9.431047,-0.067113,-0.002131,0.057526,115