In [1]:
import pandas as pd
import numpy as np

In [2]:
accelerometer_data = pd.read_csv("./George_Vardakas_Accelerometer.csv")
gyroscope_data = pd.read_csv("./George_Vardakas_Gyroscope.csv")
heartrate_data = pd.read_csv("./George_Vardakas_HeartRate.csv")
activities = pd.read_csv("./activities.csv")

In [3]:
accelerometer_data["activityid"].value_counts()

102    50400
104    48000
115    19800
107    18000
101    16200
106     6600
103     5400
105     4200
Name: activityid, dtype: int64

In [4]:
activities

    ACTIVITY_ID                 NAME
0           101              jogging
1           102              walking
2           103             standing
3           104              sitting
4           105               stairs
5           106       brushing teeth
6           107               eating
7           108  eating with fingers
8           109    drinking from cup
9           110              writing
10          111       lifting weight
11          112      folding clothes
12          113          having bath
13          114       washing plates
14          115             lying on

In [5]:
chosen_activities = [102, 103, 104, 105, 106, 107]
def create_df_accel_gyro(accelerometer_data, gyroscope_data, chosen_activities):
    accelerometer_data = accelerometer_data.loc[accelerometer_data["activityid"].isin(chosen_activities)]
    gyroscope_data = gyroscope_data.loc[gyroscope_data["activityid"].isin(chosen_activities)]
    accelerometer_data.reset_index(inplace=True)
    gyroscope_data.reset_index(inplace=True)
    df_accel_gyro = pd.DataFrame(accelerometer_data[["time", "sensordatax", "sensordatay", "sensordataz"]])
    df_accel_gyro.rename(columns={"time":"TIMESTAMP","sensordatax": "ACCEL_X", "sensordatay" : "ACCEL_Y", "sensordataz" : "ACCEL_Z"}, inplace=True)
    df_accel_gyro["GYRO_X"] = gyroscope_data["sensordatax"]
    df_accel_gyro["GYRO_Y"] = gyroscope_data["sensordatay"]
    df_accel_gyro["GYRO_Z"] = gyroscope_data["sensordataz"]
    df_accel_gyro["ACTIVITY_ID"] = gyroscope_data["activityid"]
    return df_accel_gyro

In [6]:
df_accel_gyro = create_df_accel_gyro(accelerometer_data, gyroscope_data, chosen_activities)

In [7]:
#df_accel_gyro.to_csv("./accel_gyro.csv", index=False)
df_accel_gyro

,TIMESTAMP,ACCEL_X,ACCEL_Y,ACCEL_Z,GYRO_X,GYRO_Y,GYRO_Z,ACTIVITY_ID
0,2020-12-22 14:34:27.313000000,-1.224671,-1.425790,9.939831,-0.071375,0.041546,-0.052199,102
1,2020-12-22 14:34:27.413000000,-1.189954,-1.409030,9.937437,-0.042611,-0.007457,-0.086288,102
2,2020-12-22 14:34:27.513000000,-1.356357,-1.251008,9.604632,-0.068178,-0.005326,-0.080962,102
3,2020-12-22 14:34:27.613000000,-1.040312,-0.345972,9.513650,-0.050069,0.026632,-0.011718,102
4,2020-12-22 14:34:27.713000000,-1.016369,0.737436,9.024021,-0.256736,-0.025567,-0.162990,102
...,...,...,...,...,...,...,...,...
132595,2021-01-12 15:22:06.772000000,7.968145,-5.475706,-6.031178,-1.206981,-1.697018,-1.269834,105
132596,2021-01-12 15:22:06.872000000,8.886350,-0.702719,-3.562680,-0.809626,-1.102582,-1.316707,105
132597,2021-01-12 15:22:06.972000000,9.419076,-2.098581,-4.644893,0.049004,-1.071689,-2.306367,105
132598,2021-01-12 15:22:07.072000000,10.689239,-0.889473,-3.605777,-0.804298,-0.954506,-1.134541,105
132599,2021-01-12 15:22:07.172000000,9.075498,2.749824,-6.719531,-2.832624,0.101203,0.660483,105

In [8]:
df_accel_gyro["TIMESTAMP"] = pd.to_datetime(df_accel_gyro["TIMESTAMP"])#, format=datetime_format)

## Ted

In [9]:
ted_fist_day = pd.Timestamp("2021-01-09")
# pragmatikh last date 2021-01-12
ted_last_day = pd.Timestamp("2021-01-13")
is_ted_days = (df_accel_gyro["TIMESTAMP"] >= ted_fist_day) & (df_accel_gyro["TIMESTAMP"] < ted_last_day)
df_accel_gyro_ted = df_accel_gyro.loc[is_ted_days]
df_accel_gyro.drop(df_accel_gyro_ted.index, inplace=True)
df_accel_gyro_ted.reset_index(inplace=True, drop=True)

In [10]:
df_accel_gyro.to_csv("./accel_gyro_Geo.csv", index=False)

In [11]:
df_accel_gyro_ted.to_csv("./accel_gyro_Ted.csv", index=False)