In [1]:
import pandas as pd
import numpy as np

In [2]:
accelerometer_data = pd.read_csv("./George_Vardakas_Accelerometer.csv")
gyroscope_data = pd.read_csv("./George_Vardakas_Gyroscope.csv")
heartrate_data = pd.read_csv("./George_Vardakas_HeartRate.csv")
activities = pd.read_csv("./activities.csv")

In [3]:
accelerometer_data["activityid"].value_counts()

104    74400
102    68400
101    54000
107    40800
115    40200
103    28800
106    18000
105    10800
Name: activityid, dtype: int64

In [4]:
activities

    ACTIVITY_ID                 NAME
0           101              jogging
1           102              walking
2           103             standing
3           104              sitting
4           105               stairs
5           106       brushing teeth
6           107               eating
7           108  eating with fingers
8           109    drinking from cup
9           110              writing
10          111       lifting weight
11          112      folding clothes
12          113          having bath
13          114       washing plates
14          115             lying on

In [5]:
chosen_activities = [101, 102, 103, 104, 105, 106, 107, 115]
def create_df_accel_gyro(accelerometer_data, gyroscope_data, chosen_activities):
    accelerometer_data = accelerometer_data.loc[accelerometer_data["activityid"].isin(chosen_activities)]
    gyroscope_data = gyroscope_data.loc[gyroscope_data["activityid"].isin(chosen_activities)]
    accelerometer_data.reset_index(inplace=True)
    gyroscope_data.reset_index(inplace=True)
    df_accel_gyro = pd.DataFrame(accelerometer_data[["time", "sensordatax", "sensordatay", "sensordataz"]])
    df_accel_gyro.rename(columns={"time":"TIMESTAMP","sensordatax": "ACCEL_X", "sensordatay" : "ACCEL_Y", "sensordataz" : "ACCEL_Z"}, inplace=True)
    df_accel_gyro["GYRO_X"] = gyroscope_data["sensordatax"]
    df_accel_gyro["GYRO_Y"] = gyroscope_data["sensordatay"]
    df_accel_gyro["GYRO_Z"] = gyroscope_data["sensordataz"]
    df_accel_gyro["ACTIVITY_ID"] = gyroscope_data["activityid"]
    return df_accel_gyro

In [6]:
df_accel_gyro = create_df_accel_gyro(accelerometer_data, gyroscope_data, chosen_activities)

In [7]:
#df_accel_gyro.to_csv("./accel_gyro.csv", index=False)

In [8]:
df_accel_gyro["TIMESTAMP"] = pd.to_datetime(df_accel_gyro["TIMESTAMP"])#, format=datetime_format)

In [9]:
#df_accel_gyro.loc[df_accel_gyro["TIMESTAMP"] > pd.Timestamp("2021-14-09")]
#df_accel_gyro["ACTIVITY_ID"].loc[df_accel_gyro["TIMESTAMP"] > pd.Timestamp("2021-01-14")].value_counts()

## Seperate users

In [10]:
# Set the days of the users
# Ted's days
# pragmatikh last date 2021-01-12
ted_first_day = pd.Timestamp("2021-01-09")
ted_last_day = pd.Timestamp("2021-01-13")

# Gregory's days
# pragmatikh last date 2021-01-15
greg_first_day = pd.Timestamp("2021-01-13")
greg_last_day = pd.Timestamp("2021-01-16")

# Kostakis' days
# pragmatikh last date 2021-01-28
bro_first_day = pd.Timestamp("2021-01-19")
bro_last_day = pd.Timestamp("2021-01-29")

# Euhs' days
# pragmatikh last date 2021-02-08
euh_first_day = pd.Timestamp("2021-02-06")
euh_last_day = pd.Timestamp("2021-02-10")

# Create separate dataframes
is_ted_days = (df_accel_gyro["TIMESTAMP"] >= ted_first_day) & (df_accel_gyro["TIMESTAMP"] < ted_last_day)
df_accel_gyro_ted = df_accel_gyro.loc[is_ted_days]

is_greg_days = (df_accel_gyro["TIMESTAMP"] >= greg_first_day) & (df_accel_gyro["TIMESTAMP"] < greg_last_day)
df_accel_gyro_greg = df_accel_gyro.loc[is_greg_days]

is_bro_days = (df_accel_gyro["TIMESTAMP"] >= bro_first_day) & (df_accel_gyro["TIMESTAMP"] < bro_last_day)
df_accel_gyro_bro = df_accel_gyro.loc[is_bro_days]

is_euh_days = (df_accel_gyro["TIMESTAMP"] >= euh_first_day) #& (df_accel_gyro["TIMESTAMP"] < euh_last_day)
df_accel_gyro_euh = df_accel_gyro.loc[is_euh_days]

# Drop the data from my dataframe
df_accel_gyro.drop(df_accel_gyro_ted.index, inplace=True)
df_accel_gyro.drop(df_accel_gyro_greg.index, inplace=True)
df_accel_gyro.drop(df_accel_gyro_bro.index, inplace=True)
df_accel_gyro.drop(df_accel_gyro_euh.index, inplace=True)

# Reset the indexs at dataframes
df_accel_gyro.reset_index(inplace=True, drop=True)
df_accel_gyro_ted.reset_index(inplace=True, drop=True)
df_accel_gyro_greg.reset_index(inplace=True, drop=True)
df_accel_gyro_bro.reset_index(inplace=True, drop=True)
df_accel_gyro_euh.reset_index(inplace=True, drop=True)

In [11]:
df_accel_gyro

,TIMESTAMP,ACCEL_X,ACCEL_Y,ACCEL_Z,GYRO_X,GYRO_Y,GYRO_Z,ACTIVITY_ID
0,2020-12-22 14:34:27.313,-1.224671,-1.425790,9.939831,-0.071375,0.041546,-0.052199,102
1,2020-12-22 14:34:27.413,-1.189954,-1.409030,9.937437,-0.042611,-0.007457,-0.086288,102
2,2020-12-22 14:34:27.513,-1.356357,-1.251008,9.604632,-0.068178,-0.005326,-0.080962,102
3,2020-12-22 14:34:27.613,-1.040312,-0.345972,9.513650,-0.050069,0.026632,-0.011718,102
4,2020-12-22 14:34:27.713,-1.016369,0.737436,9.024021,-0.256736,-0.025567,-0.162990,102
...,...,...,...,...,...,...,...,...
116395,2021-03-07 16:27:34.281,-2.233858,-6.383136,9.694418,8.220896,-4.834317,1.776915,106
116396,2021-03-07 16:27:34.381,-1.625712,0.611736,11.438647,2.172140,-2.306367,2.551386,106
116397,2021-03-07 16:27:34.481,-1.426988,3.131711,7.817307,0.971550,-1.068492,1.793960,106
116398,2021-03-07 16:27:34.581,0.022745,5.057905,8.141730,-0.002131,-0.062852,0.778731,106
116399,2021-03-07 16:27:34.681,1.680780,3.814079,9.793780,-0.970485,0.450620,-0.804298,106

In [12]:
df_accel_gyro_ted

,TIMESTAMP,ACCEL_X,ACCEL_Y,ACCEL_Z,GYRO_X,GYRO_Y,GYRO_Z,ACTIVITY_ID
0,2021-01-09 14:43:09.402,-1.224671,1.891477,9.900326,0.005326,0.015979,0.005326,104
1,2021-01-09 14:43:09.502,-1.157631,2.068653,9.828497,-0.001065,0.017044,0.011718,104
2,2021-01-09 14:43:09.602,-1.242628,1.871125,9.674067,-0.007457,-0.003196,0.004261,104
3,2021-01-09 14:43:09.702,-1.301288,1.875914,9.805752,-0.027698,0.012783,0.012783,104
4,2021-01-09 14:43:09.802,-1.392270,2.315263,9.890748,0.221581,0.339829,0.043676,104
...,...,...,...,...,...,...,...,...
77995,2021-01-12 15:22:06.772,7.968145,-5.475706,-6.031178,-1.206981,-1.697018,-1.269834,105
77996,2021-01-12 15:22:06.872,8.886350,-0.702719,-3.562680,-0.809626,-1.102582,-1.316707,105
77997,2021-01-12 15:22:06.972,9.419076,-2.098581,-4.644893,0.049004,-1.071689,-2.306367,105
77998,2021-01-12 15:22:07.072,10.689239,-0.889473,-3.605777,-0.804298,-0.954506,-1.134541,105
77999,2021-01-12 15:22:07.172,9.075498,2.749824,-6.719531,-2.832624,0.101203,0.660483,105

In [13]:
df_accel_gyro_greg

,TIMESTAMP,ACCEL_X,ACCEL_Y,ACCEL_Z,GYRO_X,GYRO_Y,GYRO_Z,ACTIVITY_ID
0,2021-01-13 22:14:05.360,3.614157,0.067039,9.168875,-0.025567,0.004261,0.013848,104
1,2021-01-13 22:14:05.460,3.596200,0.096968,9.257463,0.046872,0.000000,-0.003196,104
2,2021-01-13 22:14:05.560,3.604580,0.153234,9.252674,0.027698,-0.005326,-0.011718,104
3,2021-01-13 22:14:05.660,3.575849,0.347169,8.772622,0.035154,0.007457,-0.022370,104
4,2021-01-13 22:14:05.760,3.274170,0.992426,8.840858,0.083093,0.024502,-0.003196,104
...,...,...,...,...,...,...,...,...
106195,2021-01-15 16:37:10.031,-12.305374,-2.364346,-1.695146,3.285376,-0.189622,-0.110790,105
106196,2021-01-15 16:37:10.131,-9.082681,-3.147274,-2.513988,0.463404,0.521995,-1.382755,105
106197,2021-01-15 16:37:10.231,-7.166063,-3.259805,-1.175589,0.862890,0.507081,-1.489285,105
106198,2021-01-15 16:37:10.331,-7.179233,-2.174001,0.605751,0.787254,0.530518,-1.574509,105
106199,2021-01-15 16:37:10.431,-7.733507,-0.966089,3.025166,-0.631721,0.938526,0.337699,105

In [14]:
#df_accel_gyro_bro[["ACCEL_X" ,"ACCEL_Y" ,"ACCEL_Z" ,"GYRO_X" ,"GYRO_Y" ,"GYRO_Z"]].plot(figsize=(15, 8))
df_accel_gyro_bro

,TIMESTAMP,ACCEL_X,ACCEL_Y,ACCEL_Z,GYRO_X,GYRO_Y,GYRO_Z,ACTIVITY_ID
0,2021-01-19 12:47:08.453,-1.039115,-3.010800,9.006063,-0.693508,-0.148076,-0.254605,104
1,2021-01-19 12:47:08.553,-1.013975,-3.263396,9.441822,-0.274846,-0.185361,-0.088419,104
2,2021-01-19 12:47:08.653,-0.908627,-2.972491,9.089864,0.060721,0.038350,0.043676,104
3,2021-01-19 12:47:08.753,-1.336005,-2.877917,9.633364,0.239692,0.235430,0.094810,104
4,2021-01-19 12:47:08.853,-1.142069,-2.935380,9.395133,-0.069243,-0.101203,0.021305,104
...,...,...,...,...,...,...,...,...
34795,2021-01-27 22:59:23.371,-9.205986,-2.050695,2.369134,0.025567,0.003196,-0.022370,103
34796,2021-01-27 22:59:23.471,-9.183240,-2.038725,2.359557,0.012783,0.000000,-0.025567,103
34797,2021-01-27 22:59:23.571,-9.261054,-2.062667,2.359557,-0.021305,-0.006392,-0.010653,103
34798,2021-01-27 22:59:23.671,-9.233520,-1.977671,2.330826,-0.013848,0.000000,-0.010653,103
34799,2021-01-27 22:59:23.771,-9.207183,-2.103370,2.382303,-0.013848,0.000000,-0.010653,103

In [15]:
df_accel_gyro_euh

Empty DataFrame
Columns: [TIMESTAMP, ACCEL_X, ACCEL_Y, ACCEL_Z, GYRO_X, GYRO_Y, GYRO_Z, ACTIVITY_ID]
Index: []

In [16]:
#df_accel_gyro.to_csv("./accel_gyro_Geo.csv", index=False)
#df_accel_gyro_ted.to_csv("./accel_gyro_Ted.csv", index=False)
#df_accel_gyro_greg.to_csv("./accel_gyro_Gregory.csv", index=False)
#df_accel_gyro_bro.to_csv("./accel_gyro_Bro.csv", index=False)
#df_accel_gyro_euh.to_csv("./accel_gyro_Euh.csv", index=False)