In [5]:
import pandas as pd
import numpy as np

In [6]:
accelerometer_data = pd.read_csv("./Vagelis_Accelerometer.csv")
gyroscope_data = pd.read_csv("./Vagelis_Gyroscope.csv")
heartrate_data = pd.read_csv("./Vagelis_HeartRate.csv")
activities = pd.read_csv("./activities.csv")

In [7]:
activities

    ACTIVITY_ID                 NAME
0           101              jogging
1           102              walking
2           103             standing
3           104              sitting
4           105               stairs
5           106       brushing teeth
6           107               eating
7           108  eating with fingers
8           109    drinking from cup
9           110              writing
10          111       lifting weight
11          112      folding clothes
12          113          having bath
13          114       washing plates
14          115             lying on

In [8]:
accelerometer_data["activityid"].value_counts()

103    4800
104    4200
107    3600
102    3600
115    2400
106    1800
105     600
101     600
Name: activityid, dtype: int64

In [9]:
chosen_activities = [101, 102, 103, 104, 105, 106, 107]
def create_df_accel_gyro(accelerometer_data, gyroscope_data, chosen_activities):
    accelerometer_data = accelerometer_data.loc[accelerometer_data["activityid"].isin(chosen_activities)]
    gyroscope_data = gyroscope_data.loc[gyroscope_data["activityid"].isin(chosen_activities)]
    accelerometer_data.reset_index(inplace=True)
    gyroscope_data.reset_index(inplace=True)
    df_accel_gyro = pd.DataFrame(accelerometer_data[["time", "sensordatax", "sensordatay", "sensordataz"]])
    df_accel_gyro.rename(columns={"time":"TIMESTAMP","sensordatax": "ACCEL_X", "sensordatay" : "ACCEL_Y", "sensordataz" : "ACCEL_Z"}, inplace=True)
    df_accel_gyro["GYRO_X"] = gyroscope_data["sensordatax"]
    df_accel_gyro["GYRO_Y"] = gyroscope_data["sensordatay"]
    df_accel_gyro["GYRO_Z"] = gyroscope_data["sensordataz"]
    df_accel_gyro["ACTIVITY_ID"] = gyroscope_data["activityid"]
    return df_accel_gyro

In [10]:
df_accel_gyro = create_df_accel_gyro(accelerometer_data, gyroscope_data, chosen_activities)
df_accel_gyro["TIMESTAMP"] = pd.to_datetime(df_accel_gyro["TIMESTAMP"])
df_accel_gyro = df_accel_gyro.sort_values(by="TIMESTAMP")

In [11]:
df_accel_gyro.to_csv("./accel_gyro.csv", index=False)